<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"><link rel="icon" th:href="@{/img/logoTool.png}"/>
    <title>Choose session format</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.12.0/css/all.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.12.0/css/brands.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/popper.js/1.15.0/dist/umd/popper.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
    <link th:href="@{/css/rating/css/star-rating.css}" media="all" rel="stylesheet" type="text/css"/>
    <script th:href="@{/css/rating/js/star-rating.js}" type="text/javascript"></script>
    <link type="text/css" th:href="@{/css/main.css}" rel="stylesheet" media="screen"/>
    <link type="text/css" th:href="@{/scss_compiled/questionnaire.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div th:include="navbar :: header">&nbsp;</div>
<div class="parallax-container ">
    <div></div>
    <div></div>
</div>

<main role="main">
    <div class="container-fluid platform__leaves py-5">
        <div class="row">
            <div class="col-xl-3 col-2">
                <h3  class="tool-steps-title text-right">Tool steps</h3>
                <ul class="list-group">
                    <li class="list-group-item"><h5>1. Select a suitable event format</h5></li>
                    <li class="list-group-item list-group-item-success"><h5>2. Select the right activities</h5></li>
                    <li class="list-group-item"><h5>3. Customize the agenda</h5></li>
                    <li class="list-group-item"><h5>4. Download supporting documents</h5></li>
                </ul>
                <h3 class="tool-steps-title text-right">Choices you made</h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        <h5 class="darkGreenText">BIOVOICES Challenge Cluster</h5>
                        <h5 th:text="${biovoicesChallengeCluster}"></h5>
                    </li>
                    <li class="list-group-item list-group-item-secondary">
                        <h5 class="darkGreenText">Group composition: </h5>
                        <h5 th:each="groupComposition : ${groupCompositionViewGlobal}" th:text="${groupComposition}"></h5>
                    </li>
                    <li class="list-group-item">
                        <h5 class="darkGreenText">Group size </h5>
                        <h5 th:text="${groupSizeGlobal}"></h5>
                    </li>
                </ul>
                <ul class="list-group mt-2">
                    <li class="list-group-item list-group-item-green">
                        <h5>MML and knowledge exchange events </h5>
                        <h5 th:text="${mmlNameGlobal}"></h5>
                    </li>
                    <li class="list-group-item">
                        <h5 class="darkGreenText">Goal </h5>
                        <h5 th:text="${biovoicesGoalGlobalSettingScene}"></h5>
                    </li>
                    <li class="list-group-item list-group-item-secondary">
                        <h5 class="darkGreenText">Participants' experience level </h5>
                        <h5 th:text="${biovoicesParticipantExperienceLevelGlobalSettingScene}"></h5>
                    </li>
                </ul>
            </div>
            <div class="col-xl-6 col-8">
                <div class="row justify-content-center">
                    <div class="demo">
                        <div class="demo__content">
                            <h2 class="demo__heading">Which is the session format you want to use?</h2>
                            <div class="demo__elems">
                                <div class="demo__elem" th:classappend="'demo__elem-'+${iter.index + 1}" th:each="value, iter : ${values}" th:text="${value}"></div>
                                <a th:href="@{/step6Next/__${value}__}" class="demo__hover" th:each="value, iter : ${values}" th:classappend="'demo__hover-'+${iter.index + 1}"></a>
                                <div class="demo__highlighter">
                                    <div class="demo__elems">
                                        <div class="demo__elem" th:each="value : ${values}" th:text="${value}"></div>
                                    </div>
                                </div>
                                <div class="demo__examples">
                                    <div class="demo__examples-nb">
                                        <div class="nb-inner">
                                            <div class="example example-adv text-center">
                                                <img th:src="@{/img/Biovoices_Session_Format.png}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mt-5 mb-3">
                    <a class="btn share-open btn-lg" th:href="@{/chooseParticipantExperienceLevel}">BACK</a>
                </div>
            </div>
            <div class="col-xl-3 col-2">
                <div class="row m-0 mt-5" style="width:100%; background-color:#fff; border-radius: 20px; box-shadow: 0 0.5rem 5rem rgba(0, 0, 0, 0.4);">
                    <div class="col-12 p-0">
                        <div class="demo__highlighter" style="border-radius: 20px 20px 0px 0px; position: relative; width: 100%; left:0;color:#FFFFFF;font-size: 3rem;height: 100%;">
                            <h5 class="my-4 pl-3">Info</h5>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <h5>Plenary: One of the most common configuration styles of conferences. The audience is seating together in a room, facing to the speakers or presenters.</h5>
                    </div>
                    <div class="col-12">
                        <h5>Break out session: The format denotes a event phase in which the participants break into smaller groups in order to focus on a specific sub-topic. The term incloudes a number of possible settings and suitable exercises/activites. </h5>
                    </div>
                    <div class="col-12 mb-3">
                        <h5>Exhibition: different stations are set around the room, usually displaying different types of information. People are able to freely roam from one to the next. Additionally, some kind of structured roaming can be provided, in the form of guided tours or lightning pitch programmes. It is useful to display large amounts of information in reduced space and short time.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript" th:src="@{/css/scripts.js}"></script>
<script>
</script>
</body>
</html>