<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.springframework.org/security/tags" th:fragment="header">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row" style="background-color: #FFFFFF; margin: 0;">
    <div class="col-2">
        <a href="https://www.biovoices.eu/" target="_blank"><img th:src="@{/img/logo.png}" class="img-fluid p-4"/></a>
    </div>
    <div class="col-3"></div>
    <div class="col-2">
        <img th:src="@{/img/logoTool.png}" class="img-fluid p-4"/>
    </div>
    <div class="col-3"></div>
    <div class="col-2">
        <img th:src="@{/img/LogoEuropean.png}" class="img-fluid p-4" />
    </div>
</div>
</body>
</html>